---
---

body {
  font-family: georgia, serif;
  font-size: 14px;
  margin-top: 3rem;
}

header {
	position: absolute;
	width: 10rem;
	// oben rechts unten (links)
	padding: 0 2rem 2rem;
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}

	a  {
		display: block;
		margin-bottom: 0.6rem;
		text-decoration: none;
		color: black;

		&:hover {
			font-weight: bold;
		}

		&:active {
			font-weight: bold;
		}

	}
}

#main {
	margin-left: 16rem;
	margin-top: 2rem;
}